<button mat-flat-button
        color="primary"
        (click)="runSimulation()"
>New simulation
</button>
<mat-slide-toggle [checked]="true">Automatic</mat-slide-toggle>
<ng-container *ngIf="results$|async as results">


  <pre>{{results|json}}</pre>


  <app-simulation expanded="true"></app-simulation>
  <app-simulation></app-simulation>
  <app-simulation></app-simulation>
  <app-simulation></app-simulation>
  <app-simulation></app-simulation>
  <app-simulation></app-simulation>
</ng-container>
