.simulation-container {
  padding: 10px;
}

.buttons-container {

}

@media screen and (min-width: 576px) {
  .simulation-container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    box-sizing: border-box;
  }

  .buttons-container {
    width: 100%;
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
  }
}
