.buttons-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .simulation-container {
    margin: 0 auto;
    width: 80%;
  }
}
