.simulation-container {
  padding: 10px;
  box-sizing: border-box;
}

.buttons-container {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  //border: 1px solid $border-color;
}

@media screen and (min-width: 576px) {
  .simulation-container {
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
  }

  .buttons-container {
    padding-bottom: 20px;
  }
}
