td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

tr.mat-header-row {
  height: 56px;
}

table {
  width: 70%;
  margin: 0 auto;
}
