
table {
  width: 100%;
  margin: 0 auto 10px;
}

tr th, td {
  width: 25%;
}

tr th:first-child, td:first-child {
  width: 50%;
}

@media screen and (min-width: 576px) {
  table {
    margin: 0;
  }
}
