<mat-expansion-panel (afterCollapse)="hideSummary()"
                     (afterExpand)="showSummary()"
                     *ngIf="simulation"
                     [expanded]="expanded"
                     [@.disabled]="true"
                     [togglePosition]="'before'">
  <mat-expansion-panel-header>
    <div *ngIf="summaryDisplayed"
         class="simulation-shortcuts-container">
      <mat-panel-title>
        <app-drugs-list [drugs]="simulation.drugs"
                        [isInline]="true"
        ></app-drugs-list>
      </mat-panel-title>
      <mat-panel-description>
        <app-state-diff *ngFor="let diff of simulation.patients"
                        [diff]="diff">
          {{diff.state}}
        </app-state-diff>
      </mat-panel-description>
    </div>
  </mat-expansion-panel-header>
  <div class="simulation-results-container">
    <app-patients-states-before-and-after [patientStates]="simulation.patients"></app-patients-states-before-and-after>
    <app-drugs-names [drugs]="simulation.drugs"
                     class="mat-elevation-z8"
    ></app-drugs-names>
  </div>
</mat-expansion-panel>
