.simulation-shortcuts-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.drugs-container {
  width: 60%;
}

.stat-container {
  width: 40%;
}

.mat-expansion-panel {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 0.5px solid rgba(0,0,0,.2);
}

@media screen and (min-width: 576px) {
  .drugs-container {
    width: 30%;
  }

  .stat-container {
    width: 70%;
  }
}

