.simulation-shortcuts-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

mat-panel-title {
  width: 60%;
}

mat-panel-description {
  width: 40%;
}

.mat-expansion-panel {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 0.5px solid rgba(0,0,0,.2);
}

app-drugs-names {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 576px) {
  mat-panel-title {
    width: 30%;
  }

  mat-panel-description {
    width: 70%;
  }

  .simulation-results-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  app-drugs-names {
    width: 37%;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
        0 8px 10px 1px rgba(0,0,0,.14),
        0 3px 14px 2px rgba(0,0,0,.12);
    padding: 17px 24px;
    box-sizing: border-box;
    margin-top: 0;
  }

  app-patients-states-before-and-after {
    width: 60%;
  }
}

