<mat-expansion-panel [expanded]="expanded"
                     (afterCollapse)="hideSummary()"
                     (afterExpand)="showSummary()"
                     [togglePosition]="'before'"
                     *ngIf="simulation">
  <mat-expansion-panel-header>
    <div class="simulation-shortcuts-container" *ngIf="summaryDisplayed">
      <mat-panel-title>
        <app-drugs-short [drugs]="simulation.drugs"></app-drugs-short>
      </mat-panel-title>
      <mat-panel-description>
        <app-states-diff-short [patientStates]="simulation.patients"></app-states-diff-short>
      </mat-panel-description>
    </div>
  </mat-expansion-panel-header>
  <div class="simulation-results-container">
    <app-patients-states-before-and-after [patientStates]="simulation.patients"></app-patients-states-before-and-after>
    <app-drugs-names [drugs]="simulation.drugs" ></app-drugs-names>
  </div>
</mat-expansion-panel>
